<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best food delivery website</title>
    <link rel="stylesheet" href="../static/css/food1.css">
    <link rel="stylesheet" media="screen and (max-width:1300px)" href="../static/css/phone.css">
    <script src="../static/js/index.js" media="screen and (max-width:1300px)"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <a href="
            #home">
                <img src="../static/images/logo.png" alt="www.fooddelivery.com">
            </a>
        </div>
        <div id="l">
            <ul>
                <li class="item"><a href="#home">Home</a></li>
                <li class="item"><a href="#services-container">Services</a></li>
                <li class="item"><a href="#client-section">our clients</a></li>
                <li class="item"><a href="#contact">Contact us</a></li>
                <li class="item"><a href="#">Subscription</a></li>
            </ul>
        </div>
        <button id="myBtn" onclick="l()">☰</button>
    </nav>
    <section id="home">
        <h1 class="h-primary">Welcome to myonlinemeal</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident magnam corporis impedit?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
        <button class="btn">ORDER NOW</button>
    </section>

    <section id="services-container">
        <h1 class="h-primary center">our services</h1>
        <div id="services">
            <div class="box">
                <img src="../static/images/pizza.png" alt="">
                <h1 class='h-secondary center'>Food Ordering</h1>
                <p class="h-third center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quod
                    perferendis id? Nulla impedit explicabo maiores recusandae neque debitis dolore assumenda quisquam
                    enim unde suscipit provident aperiam at officiis
                <p>
            </div>
            <div class="box">
                <img src="../static/images/catering.png" alt="">
                <h1 class='h-secondary center'>catering</h1>
                <p class="h-third center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quod
                    perferendis id? Nulla impedit explicabo maiores recusandae neque debitis dolore assumenda quisquam
                    enim unde suscipit provident aperiam at officiis
                <p>
            </div>
            <div class="box">
                <img src="../static/images/bulk ordering.png" alt="">
                <h1 class='h-secondary center'>bulk Ordering</h1>
                <p class="h-third center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quod
                    perferendis id? Nulla impedit explicabo maiores recusandae neque debitis dolore assumenda quisquam
                    enim unde suscipit provident aperiam at officiis
                <p>
            </div>
        </div>
    </section>
    <section id="client-section">
        <h2 class="h-primary center">our clients</h2>
        <div id="clients">
            <div id="client-item">
                <img src="../static/images/logo1.png" alt="">
            </div>
            <div id="client-item">
                <img src="../static/images/logo2.png" alt="">
            </div>
            <div id="client-item">
                <img src="../static/images/logo3.png" alt="">
            </div>
            <div id="client-item">
                <img src="../static/images/logo4.png" alt="">
            </div>
            <div id="client-item">
                <img src="../static/images/logo5.png" alt="">
            </div>
        </div>
    </section>
    <section id="contact">
        <h1 class="h-primary center">Contact Us</h1>
        <div id="contact-box">
            <form action="">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="name" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="number">Phone Number:</label>
                    <input type="number" name="name" id="number" placeholder="Enter your phone number">
                </div>
                <div class="form-group">
                    <label for="text">message:</label>
                    <input type="text" name="name" id="text" placeholder="Write your message">
                </div>
            </form>
        </div>
        </form>
    </section>
    <footer>
        <div id="footer">
            @copyright &copy;www.myonilnemeal.com  &copy;All rights reserved
        </div>
    </footer>
</body>
</html>